:root {
  --primary-color: rgb(73, 120, 250);
  --secondary-color: rgb(24, 206, 238);
  --tertiary-color: rgba(0, 0, 0);
  --red-color: rgb(241, 47, 47);
  --gray-color: rgb(209, 209, 209);
  --black-color: #000;
}
