:root {
  --color-primary: rgb(73, 120, 250);
  --color-secondary: rgb(24, 206, 238);
  --color-tertiary: rgba(0, 0, 0);
  --color-red: rgb(241, 47, 47);
  --color-download: rgb(36, 230, 139);
  --color-play: var(--color-secondary);
  --color-gray: rgb(209, 209, 209);

  --button-primary-bgcolor: var(--color-primary);
  --button-primary-color: #fff;

  --app-header-height: 70px;

  --input-height: 4rem;
  --input-border-color: rgb(197, 197, 197);
  --input-placeholder-color: rgba(51, 51, 51, 0.514);
}
